@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: bold;
    line-height: 1.3;
}
 
body {
    font-family: "Source Serif Pro",serif;
    font-size: 20px;
}


blockquote {
    margin: 0;
    border-left: 0px solid #ecf0f1;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}


.navbar-brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    font-family: "Open Sans",Arial,sans-serif;
}
